
.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.0s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: translateX(16%);
  visibility: visible;
	position: relative;
	top: 10%;
	left: -10%;
	width: 90%;
	height: 80%;
	background: white;
}
